# ============================================================
# Projet #7 - ShopBR - Variables d'environnement
# Copiez en .env et remplissez. Ne jamais committer .env
# ============================================================

AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=sa-east-1

POSTGRES_USER=shopbr
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=shopbr

REDSHIFT_HOST=your-cluster.xxxx.sa-east-1.redshift.amazonaws.com
REDSHIFT_PASSWORD=change_me_strong_password

AIRFLOW_FERNET_KEY=your_fernet_key_here
AIRFLOW_SECRET_KEY=change_me_secret_key

MLFLOW_TRACKING_URI=http://mlflow:5000
